@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Josefin+Sans&family=Yeseva+One&display=swap');

/* Variables */

$color-light: #dfe6e9;
$color-medium: #b2bec3;
$color-dark: #2d3436;
$color-one: #6c5ce7;
$color-two: #a29bfe;

$font-logo: 'Indie Flower', cursive;
$font-header: 'Yeseva One', cursive;
$font-text: 'Josefin Sans', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-medium;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 500;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

a {
  text-decoration: none;
  color: $color-one;
}

a:hover {
  color: $color-two;
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
  position: relative;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 2px solid $color-one;
  border-radius: 5px;
  height: 800px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  display: block;
  padding-right: 40px;
  padding-bottom: 40px;
  position: absolute;
  opacity: 0.0;
  transition: all 1s;
  &.active {
    opacity: 1.0;
    z-index: 5;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}
